.avatar-border {
    border: 2px lightblue solid;
}

.person-data {
}

.person-card {
    border: 4px lightgray outset;
    border-radius: 10px;
    padding: 3px;
    background-color: #FAFAFA;
}

.person-row {
    margin-top: 15px;
}

.clickable {
    cursor: pointer;
}

.navbar-default .navbar-nav  a.active,
.navbar-default .navbar-nav  a.active:hover,
.navbar-default .navbar-nav  a.active:focus {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav  a.active
{
    background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image:      -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
    background-image:         linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

.highlight {
    background-color: yellow;
}
